[submodule "ext/DatReaderWriter"]
	path = ext/DatReaderWriter
	url = https://github.com/ACClientLib/DatReaderWriter.git
	update = merge
[submodule "ext/RmlUi.Native/ext/freetype"]
	path = ext/RmlUi.Native/ext/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "ext/RmlUi.Native/ext/RmlUi"]
	path = ext/RmlUi.Native/ext/RmlUi
	url = https://github.com/mikke89/RmlUi.git
[submodule "Launcher/ext/Reloaded.Core.Bootstrap"]
	path = Launcher/ext/Reloaded.Core.Bootstrap
	url = git@github.com:trevis/Reloaded.Core.Bootstrap.git
