[submodule "ext/DatReaderWriter"]
	path = ext/DatReaderWriter
	url = https://github.com/ACClientLib/DatReaderWriter.git
	update = merge
[submodule "ext/RmlUi.Net"]
	path = ext/RmlUi.Net
	url = https://github.com/Chorizite/RmlUi.Net.git
